<div id="photos" class="row">
  <%= f.fields_for :property_photos do |builder| %>
      <%= render 'property_photo_fields', f: builder %>
  <% end %>
</div>

<p>
  <%= cl_image_upload_tag('df', :html => {
      :multiple => true,
      data: object_fields(f, :property_photos)
  }) %>
</p>


<div class="form-group">
  <div id="info"></div>
</div>

<%= f.hidden_field :listing_type_id %>

<div class="form-group<%= ' has-error' unless @listing.errors[:neighborhood_id].blank? %>">
  <%= f.label :title, 'Headline', class: 'control-label' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Address</div>
  <div class="panel-body">
    <div class="form-group<%= ' has-error' unless @listing.errors[:neighborhood_id].blank? %>">
      <%= f.label :neighborhood_id, 'Neighborhood', class: 'control-label' %>
      <%= f.collection_select :neighborhood_id, Neighborhood.all, :id, :name, {}, {class: 'form-control'} %>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:street_address].blank? %>">
      <%= f.label :street_address, class: 'control-label' %>
      <%= f.text_field :street_address, class: "form-control" %>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:unit_no].blank? %>">
      <%= f.label :unit_no, class: 'control-label' %>
      <%= f.text_field :unit_no, class: "form-control" %>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:zip_code].blank? %>">
      <%= f.label :zip_code, class: 'control-label' %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Export options</div>
  <div class="panel-body">
    <label>
      <%= f.check_box :export_to_streeteasy %> Export to StreetEasy
    </label>

    <label>
      <%= f.check_box :export_to_nakedapartments %> Export to NakedApartments
    </label>

    <label>
      <%= f.check_box :export_to_myastoria %> Export to MyAstoria
    </label>

    <label>
      <%= f.check_box :export_to_zumper %> Export to Zumper
    </label>

    <div class="form-group<%= ' has-error' unless @listing.errors[:hide_address_for_nakedapartments].blank? %>">
      <label>
        <%= f.check_box :hide_address_for_nakedapartments %> Hide address in NakedApartments
      </label>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:featured].blank? %>">
      <label>
        <%= f.check_box :featured %> Featured
      </label>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:fake_city_id].blank? %>">
      <%= f.label :fake_city_id, 'City #2', class: 'control-label' %>
      <%= f.collection_select :fake_city_id, Neighborhood.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:street_address].blank? %>">
      <%= f.label :fake_address, 'Street Address #2', class: 'control-label' %>
      <%= f.text_field :fake_address, class: 'form-control' %>
    </div>

    <div class="form-group<%= ' has-error' unless @listing.errors[:fake_unit_no].blank? %>">
      <%= f.label :fake_unit_no, 'Unit No #2', class: 'control-label' %>
      <%= f.text_field :fake_unit_no, class: "form-control" %>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Highlights</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group<%= ' has-error' unless @listing.errors[:price].blank? %>">
          <%= f.label :price, class: 'control-label' %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <% unless @listing.listing_type_id == ListingType.where(name: 'Sale').first.id %>
            <div class="form-group<%= ' has-error' unless @listing.errors[:available_date].blank? %>">
              <%= f.label :available_date, class: 'control-label' %>
              <%= f.date_field :available_date, class: 'form-control' %>
            </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if current_user.admin? %>
            <div class="form-group<%= ' has-error' unless @listing.errors[:user_id].blank? %>">
              <%= f.label :user_id, 'Agent', class: 'control-label' %>
              <%= f.collection_select :user_id, User.all, :id, :name, {}, {class: 'form-control'} %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group<%= ' has-error' unless @listing.errors[:property_type_id].blank? %>">
          <%= f.label :property_type_id, 'Property Type', class: 'control-label' %>
          <%= f.collection_select :property_type_id, PropertyType.all, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group<%= ' has-error' unless @listing.errors[:bed].blank? %>">
          <%= f.label :bed, 'Beds', class: 'control-label' %>
          <%= f.collection_select :bed_id, Bed.all, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group<%= ' has-error' unless @listing.errors[:full_baths_no].blank? %>">
          <%= f.label :full_baths_no, 'Full Baths #', class: 'control-label' %>
          <%= f.select :full_baths_no, [1, 2, 3, 4], {include_blank: true}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group<%= ' has-error' unless @listing.errors[:half_baths_no].blank? %>">
          <%= f.label :half_baths_no, 'Half Baths #', class: 'control-label' %>
          <%= f.select :half_baths_no, [1, 2, 3, 4], {include_blank: true}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group<%= ' has-error' unless @listing.errors[:property_type_id].blank? %>">
          <%= f.label :status_id, 'Status', class: 'control-label' %>
          <%= f.collection_select :status_id, Status.where(is_for_rentals: @listing.listing_type.try(:name) == 'Rental'), :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group<%= ' has-error' unless @listing.errors[:landlord].blank? %>">
          <%= f.label :landlord, f.object.listing_type.try(:name) == 'Sale' ? 'Owner' : 'Landlord', class: 'control-label' %>
          <%= f.text_field :landlord, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group<%= ' has-error' unless @listing.errors[:renter].blank? %>">
          <% if @listing.status.try(:name) == 'Rented' %>
              <%= f.label :renter, class: 'control-label' %>
              <%= f.text_field :renter, class: 'form-control' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" id="charges_div" style="<%= 'display: none;' unless @listing.property_type.try(:name) == 'Condo' %>">
        <div class="form-group<%= ' has-error' unless @listing.errors[:charges].blank? %>">
          <% if @listing.listing_type.try(:name) == 'Sale' %>
              <%= f.label :charges, class: 'control-label' %>
              <%= f.text_field :charges, class: 'form-control' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-2" id="maintenance_div"  style="<%= 'display: none;' unless @listing.property_type.try(:name) == 'Coop' %>">
        <div class="form-group<%= ' has-error' unless @listing.errors[:maintenance].blank? %>">
          <% if @listing.listing_type.try(:name) == 'Sale' %>
              <%= f.label :maintenance, class: 'control-label' %>
              <%= f.text_field :maintenance, class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <div class="col-md-2" id="taxes_div" style="<%= 'display: none;' if @listing.property_type.try(:name) == 'Coop' %>" >
        <div class="form-group<%= ' has-error' unless @listing.errors[:taxes_amount].blank? %>">
          <% if @listing.listing_type.try(:name) == 'Sale' %>
              <%= f.check_box :taxes_included, checked: true, style: 'display: none;' %>
              <%= f.label :taxes_amount, 'Taxes', class: 'control-label' %>
              <%= f.text_field :taxes_amount, class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <div class="col-md-2" id="tax_abatement_div" style="<%= 'display: none;' if @listing.property_type.try(:name) != 'Condo' %>" >
        <div class="form-group<%= ' has-error' unless @listing.errors[:tax_abatement_end_date].blank? %>">
          <% if @listing.listing_type.try(:name) == 'Sale' %>
              <%= f.check_box :tax_abatement, checked: false %>
              <%= f.label :tax_abatement_end_date, 'Tax Abatement', class: 'control-label' %>
              <%= f.date_field :tax_abatement_end_date, class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <% if @listing.listing_type.try(:name) == 'Sale' %>
          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:start_date].blank? %>">
              <%= f.label :start_date, class: 'control-label' %>
              <%= f.date_field :start_date, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:expiration_date].blank? %>">
              <%= f.label :expiration_date, class: 'control-label' %>
              <%= f.date_field :expiration_date, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:commission].blank? %>">
              <%= f.label :commission, 'Commission split, %', class: 'control-label' %>
              <%= f.text_field :commission, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:mls_no].blank? %>">
              <%= f.label :mls_no, 'MLS #', class: 'control-label' %>
              <%= f.text_field :mls_no, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:lot_size].blank? %>">
              <%= f.label :lot_size, class: 'control-label' %>
              <%= f.text_field :lot_size, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:building_size].blank? %>">
              <%= f.label :building_size, class: 'control-label' %>
              <%= f.text_field :building_size, class: 'form-control' %>
            </div>
          </div>
      <% end %>
      <% if %w(Sale Commercial Rental).include? @listing.listing_type.try(:name)  %>
          <div class="col-md-2">
            <div class="form-group<%= ' has-error' unless @listing.errors[:interior_square_feet].blank? %>">
              <%= f.label :interior_square_feet, class: 'control-label' %>
              <%= f.text_field :interior_square_feet, class: 'form-control' %>
            </div>
          </div>
      <% end %>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group<%= ' has-error' unless @listing.errors[:access].blank? %>">
          <%= f.label :access, class: 'control-label' %>
          <%= f.text_field :access, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group<%= ' has-error' unless @listing.errors[:description].blank? %>">
          <%= f.label :description, class: 'control-label' %>
          <%= f.text_area :description, {rows: 5, class: 'form-control'} %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">Features</div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="row">
        <div class="col-md-2">
          <label>
            <%= f.check_box :dishwasher %> Dishwasher
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :backyard %> Backyard
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :balcony %> Balcony
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :elevator %> Elevator
          </label>
        </div>
        <div class="col-md-4">
          <label>
            <%= f.check_box :walk_up %> Walk-up
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>
            <%= f.check_box :laundry_in_building %> Laundry in building
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :laundry_in_unit %> Laundry in unit
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :live_in_super %> Live-in super
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :absentee_landlord %> Absentee Landlord
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :parking_available %> Parking Available
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :storage_available %> Storage Available
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :yard %> Yard
          </label>
        </div>
        <div class="col-md-2">
          <label>
            <%= f.check_box :patio %> Patio
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Pets</div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="row">
        <div class="col-md-3">
          <label>
            <%= f.check_box :no_pets %> No pets
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :cats %> Cats
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :dogs %> Dogs
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :approved_pets_only %> Approved pets only
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Utilities included</div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="row">
        <div class="col-md-3">
          <label>
            <%= f.check_box :heat_and_hot_water %> Heat and hot water
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :gas %> Gas
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :all_utilities %> All
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <%= f.check_box :none %> None
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
