
<div class="stage">
  <div class="carousel carousel-stage">
    <ul>
      <% @listing.property_photos.each do |photo| %>
          <li style="position:relative"><%= image_tag(photo.photo_url_url) %></li>
      <% end %>
      <% @listing.property_floorplans.each do |photo| %>
        <li style="position:relative"><%= image_tag(photo.floorplan_url_url) %></li>
      <% end %>
      <% @listing.property_videos.each do |photo| %>
        <li style="position:relative">
          <video style="width:100%" controls poster="<%= photo.video_url_url.gsub!('.mp4','.jpg') %>">
            <source src="<%= photo.video_url_url.gsub!('.mp4','.webm') %>" type="video/webm">
            <source src="<%= photo.video_url_url.gsub!('.mp4','.ogv') %>" type="video/ogg">
            <source src="<%= photo.video_url_url.gsub!('.mp4','.ogv') %>" type="video/ogg">
          </video>
        </li>
      <% end %>
    </ul>
  </div>

  <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
  <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
</div>
<div class="row">
  <div class="col-md-12" align="right">
    <% if @listing.property_floorplans.count > 0 %><button class="btn btn-primary floorplan">Floorplans</button><% end %>
    <% if @listing.property_videos.count > 0 %><button class="btn btn-primary video">Videos</button><% end %>
  </div>
</div>
<div class="navigation">
  <a href="#" class="prev prev-navigation">&lsaquo;</a>
  <a href="#" class="next next-navigation">&rsaquo;</a>
  <div class="carousel carousel-navigation">
    <ul>
      <% @listing.property_photos.each do |photo| %>
        <li><%= image_tag(photo.photo_url_url(:thumb), width: 50, :height => 50) %></li>
      <% end %>
      <% @listing.property_floorplans.each do |photo| %>
        <li class="floorplan_thumb"><a href="#"><img src="//cdn-assets-s3.streeteasy.com/assets/icons/floorplan-59b645d2c000abd2fe938f1b23f05e3ced832ac6d2bf27cdc6d560710494b786.png" style="width:50px;height:50px"></a></li>
      <% end %>
      <% @listing.property_videos.each do |photo| %>
        <li class="video_thumb"><%= image_tag(photo.video_url_url.gsub!('.mp4','.jpg'), width: 50, :height => 50) %></li>
      <% end %>
    </ul>
  </div>
</div>
