<% if display_helper=='thumbs' %>
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail">
			<% if listing.property_photos.count > 0 %>			
				<% photo = listing.property_photos.first %>			
				<%= image_tag(photo.photo_url_url(:thumb), style: "height:124px; width: 100%") %>
			<% else %>
				<%= image_tag('no_photo_small.png', style: "height:124px;") %>
			<% end %>			
			<div class="caption">
              <%= link_to listing.full_address, listing -%> <%= "Unit: #{listing.unit_no}" unless listing.unit_no.empty? -%>
              <p><%= listing.bed.try :name %> | Baths: <%= listing.full_baths_no %> | <%= number_to_currency(listing.price) %></p>
			</div>
		</div>
	</div>
<% else if  display_helper=='thumb_list' %>
	<li class="list-group-item">
		<div class="listing">
            <% if display_helper == 'thumb_list' %>
                <div class="thumb-photo">
                    <% if listing.property_photos.count > 0 %>
                        <% photo = listing.property_photos.first %>
                        <%= image_tag(photo.photo_url_url(:thumb), width: 151, :height => 100) %>
                    <% else %>
                        <%= image_tag('no_photo_small.png', width: 151, :height => 100) %>
                    <% end %>
                </div>
            <% end %>
            <div class="info">
                <h3 class="address"><%= link_to listing.full_address, listing %> <%= "Unit: #{listing.unit_no}" unless listing.unit_no.empty? -%></h3>
                <h4 class="price"><%= listing.bed.try :name %> | Baths: <%= listing.full_baths_no %> | <%= number_to_currency(listing.price) %></h4>
            </div>
		</div>
	</li>
    <% else %>
        <tr>
          <td>
            <% if listing.property_photos.count > 0 %>
                <% photo = listing.property_photos.first %>
                <%= image_tag(photo.photo_url_url(:thumb), width: 30, :height => 30) %>
            <% end %>
          </td>
          <td><%=link_to listing.street_address, listing %></td>
          <td><%= listing.unit_no %></td>
          <td><%= listing.neighborhood.try :name %></td>
          <td><%= listing.bed.try :name %></td>
          <td><%= number_to_currency(listing.price) %></td>
          <td><%= listing.available_date %></td>
          <td><%= listing.user.try :name %></td>
        </tr>
    <% end %>
<% end %>