<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<%= form_tag(listings_path, :method => :get, role: "form") do %>
			<%= hidden_field_tag 'display', @display %>            
            <div class='form-group'>
	            <%= label_tag 'Price:', nil,  class:"control-label" %>
	            <%= text_field_tag 'price_from', (params['price_from'] if params['price_from'].present?),  class:"form-control", placeholder: 'from' %>            
	            <%= text_field_tag 'price_to', (params['price_to'] if params['price_to'].present?),  class:"form-control", placeholder: 'to' %>            
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'listing_type_id', 'Type:', class:"control-label" %>
				<%= select_tag 'listing_type_id', options_from_collection_for_select(ListingType.all, "id", "name", (params['listing_type_id'] if params['listing_type_id'].present?)), prompt: "", class:"form-control" %>	
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'property_type', 'Property Type:', class:"control-label" %>
				<%= select_tag 'property_type', options_from_collection_for_select(PropertyType.all, "id", "name", (params['property_type'] if params['property_type'].present?)), prompt: "", class:"form-control" %>	
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'neighborhood', 'Neighborhood:', class:"control-label" %>
				<%= select_tag 'neighborhood', options_from_collection_for_select(Neighborhood.all, "id", "name", (params['neighborhood'] if params['neighborhood'].present?)), prompt: "", class:"form-control" %>	
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'beds', 'Beds:', class:"control-label" %>
				<%= select_tag 'beds', options_from_collection_for_select(Bed.all, "id", "name", (params['beds'] if params['beds'].present?)), prompt: "", class:"form-control" %>	
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'full_baths', 'Full baths:',  class:"control-label" %>
	            <%= text_field_tag 'full_baths_from', (params['full_baths_from'] if params['full_baths_from'].present?),  class:"form-control", placeholder: 'from' %>            
	            <%= text_field_tag 'full_baths_to', (params['full_baths_to'] if params['full_baths_to'].present?),  class:"form-control", placeholder: 'to' %>            
	        </div>

	        <div class='form-group'>
	            <%= label_tag 'half_baths', 'Half baths:',  class:"control-label" %>
	            <%= text_field_tag 'half_baths_from', (params['half_baths_from'] if params['half_baths_from'].present?),  class:"form-control", placeholder: 'from' %>            
	            <%= text_field_tag 'half_baths_to', (params['half_baths_to'] if params['half_baths_to'].present?),  class:"form-control", placeholder: 'to' %>            
	        </div>



	        <%= submit_tag 'Apply', class: 'btn btn-large btn-primary' %>
        <% end %>
		
	</div>

	<div class="col-xs-12 col-sm-9">		
		<p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle sidebar</button>
        </p>
        <div class="jumbotron">
            <h1>Listings</h1>
            <p>Use sidebar to filter listings.</p>
        </div>
		<div class="row">
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		      <div class="btn-group" role="group" aria-label="First group">		      	
		        <% params_for_list = params %>
		        <% params_for_list[:display] = "list" %>
		        <a href="<%= url_for(params_for_list)%>" type="button" class="btn btn-default<%= ' active' if @display=='list' %>" role="button">List</a>

		        <% params_for_thumb_list = params %>
		        <% params_for_thumb_list[:display] = "thumb_list" %>
		        <a href="<%= url_for(params_for_thumb_list) %>" type="button" class="btn btn-default<%= ' active' if @display=='thumb_list' %>" role="button">List with Tumbs</a>

		        <% params_for_thumbs = params %>
		        <% params_for_thumbs[:display] = "thumbs" %>
		        <a href="<%= url_for(params_for_thumbs) %>" type="button" class="btn btn-default<%= ' active' if @display=='thumbs' %>" role="button">Tumbs</a>		        
		      </div>		      
		    </div>

			<% if @display=='thumbs' %>				
				<div class="row">
				  <%= render @listings %>
				</div>
			<% else %>				
				<div class="list-group">
					<%= render @listings %>
				</div>
			<% end %>

			<%= will_paginate @listings %>
		</div>
	</div>
</div>