<% provide(:title, @listing.full_address) %>
<% provide(:java_script, "https://maps.googleapis.com/maps/api/js") %>
<div class="row">
	<div class="col-md-8">
		<h1 id="address" data-value="<%= @listing.full_address %>">
          <%= @listing.full_address %>
          <small><%= @listing.listing_type.name unless @listing.listing_type.nil? %></small>
        </h1>
		<h3 class="zip">
          <%= "Unit no: #{@listing.unit_no}" unless @listing.unit_no.nil? || @listing.unit_no.empty? %>
          <%= "Zip: #{@listing.zip_code}" unless @listing.zip_code.nil? %>
        </h3>
	</div>

	<div class="col-md-4">
		<h2 class="text-right"><%= number_to_currency(@listing.price) %></h2>
		<h3 class="property_type text-right"><%= @listing.property_type.name unless @listing.property_type.nil? %></h3>
	</div>
</div>
<p>
    <% if signed_in? %>
        <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-default", role: "button" %>
    <% end %>
    <%= link_to 'View agent', @listing.user, class: 'btn btn-primary', role: 'button' %>
    <%= mail_to @listing.user.email, 'Contact agent', class: 'btn btn-primary', role: 'button'%>
</p>

<div class="row">
	<div class="col-md-10 col-md-offset-1 connected-carousels" >
		<% if @listing.property_photos.count > 0 %>
          <% if @listing.property_photos.count == 1 %>
			<% photo = @listing.property_photos.first %>			
			<%= image_tag(photo.photo_url_url, :width => '100%') %>
          <% else %>
            <%= render 'jcarousel' %>
          <% end %>
		<% else %>
			<%= image_tag("no_photo.png", :width => '100%') %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-8  property-rooms">
		<%= @listing.bed.name %> / <%= @listing.full_baths_no %> full baths / <%= @listing.half_baths_no %> half baths
        <p>
        Days on market: <%= @listing.days_on_market %>
	</div>
	<div class="col-md-4 property-size text-right">
		<%= @listing.status.name unless @listing.status.nil? %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 property-description">
		<%= @listing.description %>
	</div>
	<div class="col-md-4 property-size text-right">
		<div id="map-canvas"></div>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <% unless @listing.features.empty? %>
        <p><strong>Features:</strong> <%= @listing.features %></p>
    <% end %>
    <% unless @listing.pets.empty? %>
        <p><strong>Pets:</strong> <%= @listing.pets %></p>
    <% end %>
    <% unless @listing.utilities.empty? %>
        <p><strong>Utilities included:</strong> <%= @listing.pets %></p>
    <% end %>
  </div>
</div>
