<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Horowitz Real Estate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
          <%= form_tag(listings_path, :method => :get, class: "navbar-form navbar-right", role: "search") do %>
            <div class="form-group">
              <%= text_field_tag 'street_address', (params['street_address'] if params['street_address'].present?),  class:"form-control", placeholder: 'Street address' %>
            </div>
            <button type="submit" class="btn btn-default">Find</button>
          <% end %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Home", root_path %></li>
        <%
         if signed_in? %>
          <li><%= link_to "All listings", listings_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Neighborhoods", neighborhoods_path %></li>
          <% end %>
          <li><%= link_to "Users", users_path %></li>
            <% if current_user.admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to 'Listing count by period', listings_by_period_reports_path %></li>
                    <li><%= link_to 'Rented listings by period', rented_listings_by_period_reports_path %></li>
                  </ul>
                </li>
            <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>